<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mi="http://www.ahstu.org/mi" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://www.ahstu.org/mi mi.xsd"
       default-autowire="byName">

    <mi:consumer id="userServiceClient"
                     interface="org.ahstu.mi.test.service.UserService"
                     version="1.0.0.daily"
                     group="user"/>

    <mi:consumer id="tradeServiceClient" interface="org.ahstu.mi.test.service.TradeService"
                     version="1.0.0.daily"
                     group="trade"/>

    <mi:consumer id="courseCenterClient" interface="org.ahstu.mi.test.service.CourseCenterService"
                     version="1.0.0.daily" group="course"/>

</beans>