<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:insist="http://www.317hu.com/insist" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://www.317hu.com/insist http://www.317hu.com/insist/insist.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:annotation-config />

    <bean id="userServiceClient" class="org.ahstu.mi.test.service.UserServiceClient">
        <property name="userService" ref="userService"/>
    </bean>

    <insist:consumer id="userService"
                     interface="org.ahstu.mi.test.service.UserService"
                     version="1.0.0.daily"
                     group="user"/>

    <insist:consumer id="tradeServiceClient" interface="org.ahstu.mi.test.service.TradeService"
                     version="1.0.0.daily"
                     group="trade"/>

    <insist:consumer id="courseCenterClient" interface="org.ahstu.mi.test.service.CourseCenterService"
                     version="1.0.0.daily" group="course"/>

</beans>