<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mi="http://org.ahstu.com/mi" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://org.ahstu.com/mi mi.xsd"
       default-autowire="byName">

        <bean id="userService" class="org.ahstu.mi.test.service.impl.UserServiceImpl"/>

        <bean id="tradeService" class="org.ahstu.mi.test.service.impl.TradeServiceImpl"/>

        <!--<bean id="miDynamicCallService" class="com.bozhong.mi.dynamic.MiDynamicCallServiceImpl"/>-->

        <!--<bean class="com.bozhong.mi.dynamic.MiDynamicCallServiceProviderRegister"/>-->

        <mi:provider id="userServiceMi"
                         interface="org.ahstu.mi.test.service.UserService"
                         version="1.0.0.daily"
                         group="user"
                         ref="userService"/>

        <mi:provider id="tradeServiceMi"
                         interface="org.ahstu.mi.test.service.TradeService"
                         version="1.0.0.daily"
                         group="trade"
                         ref="tradeService"/>

        <!--<mi:provider id="miDynamicCallServiceMi"-->
                         <!--interface="com.bozhong.mi.dynamic.MiDynamicCallService"-->
                         <!--version="1.0.0.daily" group="trade" ref="miDynamicCallService"/>-->


</beans>